<form class="form-inline">
  <div class="form-group">
  <input [formControl]="searchField" type="search"
  class="form-control"
  placeholder="Entrez votre recherche ici"
  #search>
  </div>
  <button type="button"
  class="btn btn-primary"
  (click)="doSearch(search.value)">Recherche
  </button>

  <!-- <ul class="list-group">
    <li class="list-group-item" *ngFor="let musique of searchService.resultats">
      <img src="{{ musique.artworkUrl30 }}" alt="">
      <a target="_blank" href="{{ musique.trackViewUrl }}">{{ musique.trackName }}</a>
    </li>
  </ul> -->

  <ul class="list-group">
    <!-- <li class="list-group-item" *ngFor="let musique of searchService.resultats"> -->   <!-- NOT async-->
      <li class="list-group-item" *ngFor="let musique of results | async">
      <img src="{{ musique.thumbnail }}" alt="">
     <a target="_blank" href="{{ musique.link }}">{{ musique.name }}</a> 
    </li>
  </ul>

  </form>